@use '../util/' as u;

.fw-feature {
	// @include u.fullwidth;

	background-color: var(--full-width-bg);
	padding-block: u.rem(60);
	line-height: u.rem(52.8);

	&__wrapper {
	}

	&__title {
		font-weight: 700;
	}

	&__image {
		max-width: u.rem(792);
		max-height: 465px;
		margin-inline: auto;
	}
}
